*body{font-family:arial;font-size:16px;margin:0 auto;}
.content{width:900px;margin:0 auto;background-color:white;}
.logo{width:900px;float:left;background-color:;}
.second_content{width:900px;float:left;background-color:white;margin-top:30px;}
.second_content_left{width:450px;float:left;}
.second_content_right{width:380px;float:right;}
.second_content_right h1{padding-right:70px;}
 .second_content_right a{text-decoration:none;color:black;}
.second_content{border-bottom:2px solid #ccc;padding-bottom:30px;}
.third_content{width:900px;float:left;padding-bottom:20px;}
.third_content_left{width:350px;float:left;padding-top:20px;}
.service{width:300px;float:left;border:2px solid #ccc;background-color:#F1F1F1;margin-bottom:20px;border-radius: 15px;}
.service_one_left{width:100px;float:left;}
.service_one_right{width:200px;float:right;}
.service_one_left img{padding-top:40px;}
.service_one_right a{text-decoration:none;color:black;}
.service_one_right p{padding-right:10px;}

.third_content_right{width:550px;float:right;background-color:#F1F1F1;margin-top:20px;border-radius: 15px;}
.third_content_right h1{margin-top:30px;}
.third_content_right p{padding-top:30px;}
.footer{width:900px;float:left;background-color:#F1F1F1;margin-top:20px;border-radius: 15px;}
.footer_left{width:450px;float:left;text-align:left;}
.footer_right{width:450px;float:right;text-align:right;}