@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');


body{
	padding :0%;
	margin:0%;
	font-family:'Lato';
}

.navbar-brand{
font-family:'Pacifico';
font-size:35px;
color:lightcoral !important;

}

.nav-link{
	font-size:16px;
	margin:15px;
	color:black !important;
	font-family:'Roboto Condensed';


}

.nav-link:hover{
	color:#00E8E8 !important;
}

.active .nav-link{
	color:#00E8E8 !important;
}

.menu-right-btn{
	padding: 13px 46px;
	margin-right: 4%;
	background-color:transparent;
	transition: all 300ms ease-in;
}

.menu-right-btn:hover{
	color:white;
	background-color:#00E8E8;
}

.site-content{
	background-image:url('https://bucimages033.s3.amazonaws.com/images/img_3.jpg');
	background-attachment: fixed;
	background-size: cover;
	
}

.site-title, .site-desc{
           color: white;
           font-family: 'Righteous';

}
.site-title{
	margin-top: 30%;
	margin-bottom: 6%;
	font-size: 50px;
	padding-left:5%; 
}
.site-desc{
	font-size:14px;
	padding-left:15%; 
}
.site-btn1{
	margin-left: 20%;
	background-color:black;
	color:white;
}

.site-btn2{
	background-color:black;
}
.site-btn1, .site-btn2{
	margin-top:5%;
	margin-bottom:40%;
}


/*section-1*/
.section-1 .headline-1{
	margin-top:8%;
}

.section-1, .headline-2{
	margin-bottom:5%;
	font-size:39px;
	
}

.section-1 .para-1{
	width:60%;
	margin-left:20%;
	margin-bottom:5%;
	font-size:22px;

}

.section-1 .card-text, .para-1{

	color:rgba(0, 0, 0, 0.59);
	font-size:18px;
}
.section-1{
	margin-bottom:8%;

}


/* section-2*/
.section-2 .container-fluid{

	background-image: url('https://bucimages033.s3.amazonaws.com/images/photo4.jpg');
	background-attachment: fixed;
	background-size: cover;
	

}

.section-2 .headling-1{
	margin-top:22%;
	margin-bottom:4%;
	font-family:'Righteous';
	width:80%;
	color:white;
}
.section-2 .para{
	width:80%;
	font-family:'Ubuntu';
	color:whitesmoke;
	margin-bottom: 7%;
}

.section-2 .btn{
	margin-bottom:20%;
	width:20%;
	padding: 2% 6%;
}

/* section-3 */

.section-3 {
	margin-top: 6%; 
}

.section-3 i{
	color: #00E8E8!important;
}

.section-3 p{
	color: rgba(0, 0, 0, 0.59);
}

.section-4 {
	margin-top:8%;
}

.section-4 .row .col-md-7, .col-md-5{

	margin-top:10%;
	margin-bottom: 10%;
}

.section-4 a{
	color:lightseagreen;
	text-decoration: none;
	font-size:40px;

}

.section-4 .para-1{
	color:white;
	font-family:'Roboto Condensed';
 margin-top: 7%;
}
.social i{
	color:#EF5651;
	font-size:20px;

}




 /* @media screen and(max-width:320px)
{
	.site-content .site-title{
		font-size:30px;
		padding-left: 15%;


	}

	.site-content .site-btn2{
		display:none;
	}

	.site-content .site-btn{
		margin-left:15%;
	}

	.section-1 .headling-1 , .section-1 .headling-2{
		font-size:25px;
	}

	.section-1 .col-md-4{
		padding: 5%;
		margin-left:8%;
	}
  .section-1 .card{
  	width:15rem;

  }
  .section-4 .col-md-5{
  	padding:0% 15%;
  }

  footer input[type="button"]{

  	margin-top:5%;

  }
}



@media screen and(max-width:768px)
   {

   .section-1 .card{
   	width:14rem;
   }

   .section-4 .col-md-7 img{
		width: 450px;
		
	}
.section-4 .para-1{
		font-size: 14px;
	}

}




@media screen and (min-width:992px){
	.section-1 .card{
   	width:30rem;
   }

   .section-4 .col-md-7 .pic{
		width: 350px;
		
	}
.section-4 .para-1{
		font-size: 14px;
	}
}
*/